﻿@model MvcRouteMap.Models.MapResponse
@{
    ViewBag.Title = "Compute Total Distance Recursively";
}

<div>
    @{
        if (Model.NodeCollection.Count() > 0)
        {
            string route = Model.NodeCollection.First().Name;
            for (int i = 1; i <= Model.NodeCollection.Count() - 1; i++)
            {
                route = route + "-" + Model.NodeCollection.ElementAt(i).Name;
            }
        <span>The Route: @route </span><span>has a Total Distance of: @Model.Value</span>
        }
        else
        {
        <span>Total Distance of route: NO SUCH ROUTE </span>
        } 
    }
</div>
