﻿@model IEnumerable<MvcRouteMap.Models.MapResponse>
@{
    ViewBag.Title = "Routes With Maximum Number of Stops";
}

<div>
    @{
        if (Model.Count() > 0)
        {
        <span>Routes starting at @Model.First().NodeCollection.First().Name and ending at @Model.First().NodeCollection.Last().Name
            with a maximum of @Model.First().MaximumNumberOfStops stops:
        </span>
        <br />
            foreach (var mapResponse in Model)
            {
                string route = "";
                for (int i = 0; i <= mapResponse.NodeCollection.Count() - 1; i++)
                {
                    route = route + "-" + mapResponse.NodeCollection.ElementAt(i).Name;
                }
        <span>Route: @route.Substring(1, @route.Length-1) (@mapResponse.Value stops) </span>
            }
        }
        else
        {  
        <span>NO SUCH ROUTE EXISTS</span>
        }
    }
</div>
