﻿@model MvcRouteMap.Models.MapResponse
@{
    ViewBag.Title = "Shortest Route Between Two Towns";
}

<div>
    @{
        if (Model.NodeCollection.Count() > 0)
        {
            string route = Model.NodeCollection.First().Name;
            for (int i = 1; i <= Model.NodeCollection.Count() - 1; i++)
            {
                route = route + "-" + Model.NodeCollection.ElementAt(i).Name;
            }
        <span>The Shortest route (by distance) from @route.Substring(0, 1).ToUpper() to @route.Substring(route.Length - 1, 1).ToUpper(): @route (distance = @Model.Value)</span>
        }
        else
        {
        <span>NO SUCH ROUTE EXISTS</span>
        } 
    }
</div>