﻿@model IEnumerable<MvcRouteMap.Models.MapResponse>
@{
    ViewBag.Title = "Routes With Maximum Number of Stops";
}

<h2>Routes With Maximum Number of Stops</h2>

@Html.Action("_pwRoutesWithMaxStops", Model)
